@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Cambia esto al tamaño deseado */
  background-color: transparent;

}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1rem; /* similar a Tailwind's gap-4 */

}
